*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'poppins', sans-serif;
}
.modak-regular {
  font-family: "Modak", system-ui;
  font-weight: 400;
  font-style: normal;
}

.heroe-text{
    font-size: 6rem;
    color: #fff;
    text-align: center;
    padding-top: 20px;

}
.fa-magnifying-glass{
    font-size: 6rem;
    color: #fff;
    text-align: center;
    padding-top: 40px;
}

.banner{
background-image:url(/Quickserch_photos/chalk_board.jpg);
 box-shadow: 0px 10px 0px 10px rgba(8, 8, 8, 0.75);
height: 400px;
width: 100%;
background-size: cover;
background-repeat: no-repeat;
display: flex;
flex-direction: row;
gap: 20px;
justify-content:center;
padding-top:10px ;
}

/* SIGN UP */

.sign-up-options{
  background-image:url(/Quickserch_photos/glitch_bg.jpg) ;
  /* border-radius: 300px 300px 0px 0px; */
  /* box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75); */
  width: 100%;
  height: 400px;  
  background-size: cover ;
}

/* FOOTER */
footer{
  background-image: url(/Quickserch_photos/.jpg);
  color: #fff;
  text-align: center;
  padding: 20px 0;
}
