@media (max-width: 1024px) {
  .heroe {
    background-size: cover;
    background-position: center;
  }
  .banner {
    height: auto;
    padding: 60px 20px 40px 20px;
  }
  .sub_head {
    height: auto;
    padding: 40px 0;
  }
  .heroe-text {
    font-size: 4rem;
    padding-top: 40px;
  }
  .fa-magnifying-glass {
    font-size: 4rem;
    padding-top: 20px;
  }
  .sub_text {
    width: 80%;
    font-size: 18px;
  }
  .button_box {
    width: 70%;
  }
}

@media (max-width: 768px) {
  nav {
    justify-content: center;
    padding: 16px 16px 0 16px;
    gap: 8px;
    flex-wrap: wrap;
  }
  .navlink {
    font-size: 14px;
  }
  .nav_button {
    font-size: 0.9rem;
    padding: 6px 10px;
  }
  .heroe-text {
    font-size: 2.6rem;
    padding-top: 32px;
  }
  .fa-magnifying-glass {
    font-size: 2.6rem;
    padding-top: 16px;
  }
  .description {
    font-size: 1.2rem;
    padding-bottom: 32px;
    padding-inline: 16px;
  }
  .sub_text {
    width: 90%;
    font-size: 15px;
    padding-top: 32px;
  }
  .button_box {
    width: 90%;
    margin-top: 16px;
  }
  .btn_body {
    flex-direction: column;
    padding: 10px 20px 20px 20px;
  }
  .main-btn {
    width: 100%;
  }
  footer {
    height: auto;
    padding: 20px;
  }
}

@media (max-width: 480px) {
  .heroe-text {
    font-size: 2.4rem;
  }
  .fa-magnifying-glass {
    font-size: 2.4rem;
  }
  .description {
    font-size: 1.2rem;
  }
  .sub_text {
    font-size: 14px;
  }
}
