*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'poppins', sans-serif;
}
.modak-regular {
  font-family: "Modak", system-ui;
  font-weight: 400;
  font-style: normal;
}

.nunito{
    font-family: "nunito", sans-serif;
}


.roboto-condensed{
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}


.heroe-text{
    font-size: 3rem;
    color: #46945d;
    text-align: center;
    /* padding-top: 80px; */

}


.description{
    font-size: 1rem;
    color: #46945dad;
    text-align: center;
    padding-bottom: 70px;
}
/* 
.fa-solid{
   color: #46945d;
   font-size: 6rem; 
} */


nav{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-self:right;
    padding: 30px 60px 0 0;
    /* outline:1px solid yellow */
}


.navlink{
    font-size: 15px;
    color: #46945d;
    ;
    text-decoration: none;
    padding-top: 6px;
    font-weight: 700;
    border-bottom: 1px solid white; 
    margin-bottom: 3px;
   


}
.nav_button{
    padding: 7px;
    border-radius:5px;
    border: none;
    color: #f3f0f0;
    font-size: 1rem;
    background-color: #f85d03b0;
    
    
}
.nav_button:hover{
    cursor:pointer;
}

.fa-magnifying-glass{
    font-size: 6rem;
    color: #46945d;
    text-align: center;
    /* padding-top: 60px; */
}
.heroe{


}

    

.banner{
/* background-image:url(/Quickserch_photos/chalk_board.jpg); */
 /* box-shadow: 0px 10px 0px 10px rgba(8, 8, 8, 0.75); */
/* height: 400px; */
width: 100%;
background-size: cover;
background-repeat: no-repeat;

justify-content:center;
/* padding-top:10px ; */
}